<!-- <div class="top">
  <img src="../../../assets/elevate-logo-black.svg" alt="Elevate Logo" />
</div> -->

<nb-card class="records-container" style="margin-top: 3rem;">
  <nb-card-header>
    <h4>Unite 2024 Attendees</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="records-header">
      <div>
        <p class="totals-title">Totals:</p>
        <div class="totals-container">
          <div class="total-attendees">
            <p>
              Attendees:&nbsp;<span>{{
                (totals | async)?.totalAttendees || 0
              }}</span>
            </p>
            <div class="details">
              <p>
                Male:&nbsp;<span>{{ (totals | async)?.totalMale || 0 }}</span>
              </p>
              <p>
                Female:&nbsp;<span>{{
                  (totals | async)?.totalFemale || 0
                }}</span>
              </p>
            </div>
          </div>
          <div class="total-first-timers">
            <p>
              First Timers:&nbsp;<span>{{
                (totals | async)?.totalFirstTimers || 0
              }}</span>
            </p>
            <div class="details">
              <p>
                Male:&nbsp;<span>{{
                  (totals | async)?.totalMaleFirstTimers || 0
                }}</span>
              </p>
              <p>
                Female:&nbsp;<span>{{
                  (totals | async)?.totalFemaleFirstTimers || 0
                }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="controls">
        <div class="form-control">
          <label for="eventDate" class="label">Event Date</label>
          <input
            nbInput
            [(ngModel)]="eventDate"
            fieldSize="small"
            placeholder="Pick Date"
            [nbDatepicker]="eventDatePicker"
            id="eventDate"
          />
          <nb-datepicker
            #eventDatePicker
            (dateChange)="onEventDateChange($event)"
          ></nb-datepicker>
        </div>
        <!-- <button nbButton (click)="printDiv()" outline status="primary">Print</button> -->
      </div>
    </div>

    <div>
      <div id="event-report">
        <table class="custom-table" width="100%">
          <tr>
            <th></th>
            <th style="text-align: left; padding-right: 2rem">Name</th>
            <th style="text-align: right; padding-right: 2rem">Age</th>
            <th style="padding-right: 2rem">Gender</th>
            <th style="padding-right: 2rem">School</th>
            <th style="padding-right: 2rem">District</th>
            <th style="padding-right: 2rem">FB Name</th>
            <th style="padding-right: 2rem">Phone No.</th>
            <th>First-timer?</th>
            <th>Leader</th>
            <th style="padding-right: 2rem">Ticket No.</th>
            <th></th>
          </tr>
          <tr
            *ngFor="
              let attendee of attendees | async;
              let i = index;
              trackBy: identify
            "
            [ngClass]="{ 'first-timer-row': attendee.isFirstTimer }"
          >
            <td class="count">{{ i + 1 }}</td>
            <td style="padding-right: 2rem; white-space: nowrap;">
              {{ attendee.lastName }}, {{ attendee.firstName }}
            </td>
            <td style="text-align: right; padding-right: 2rem">
              {{ attendee.age }}
            </td>
            <td style="text-transform: capitalize; padding-right: 2rem">
              {{ attendee.sex }}
            </td>
            <td style="text-transform: capitalize; padding-right: 2rem">
              {{ attendee.school || "" }}
            </td>
            <td style="text-transform: capitalize; padding-right: 2rem">
              {{ attendee.district || "" }}
            </td>
            <td style="text-transform: capitalize; padding-right: 2rem; white-space: nowrap;">
              <ng-container *ngIf="attendee.facebookAcc">
                {{ attendee.facebookAcc || "" }}
              </ng-container>
            </td>
            <td [id]="'mob-' + i" style="text-transform: capitalize; padding-right: 2rem; white-space: nowrap;">
              <div *ngIf="attendee.mobile" style="display: flex; gap: 1rem; justify-content: space-between; align-items: center;">
                <a [href]="'tel:' + attendee.mobile">
                  {{ attendee.mobile.toString() | slice : 0 : 4 }}
                  {{ attendee.mobile.toString() | slice : 4 : 7 }}
                  {{ attendee.mobile.toString() | slice : 7 : 11 }}
                </a>
                <button
                  nbButton
                  outline
                  status="primary"
                  size="tiny"
                  (click)="copyMobileToClipboard(attendee.mobile, 'mob-' + i)"
                >
                  Copy
                </button>
              </div>
            </td>
            <td [ngClass]="{ 'first-timer': attendee.isFirstTimer }">
              {{ attendee.isFirstTimer ? "✅ Yes" : "❌ No" }}
            </td>
            <td style="text-transform: capitalize; padding-right: 2rem">
              {{ attendee.leader || "" }}
            </td>
            <td style="text-transform: capitalize; padding-right: 2rem">
              {{ attendee.ticketNo || "" }}
            </td>
            <td style="text-align: right;">
              <button
                nbButton
                outline
                status="danger"
                size="tiny"
                (click)="deleteUniteAttendee(attendee)"
              >
                Delete <nb-icon icon="trash-2"></nb-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div></div>
    </div>
  </nb-card-body>
</nb-card>
