<div class="top">
  <img src="../../../assets/elevate-logo-black.svg" alt="Elevate Logo" />
</div>

<nb-card class="records-container">
  <nb-card-body>
    <table id="registrants-table" class="custom-table" width="100%">
      <thead>
        <tr>
          <th></th>
          <th style="text-align: left; padding-right: 2rem">Name</th>
          <th style="text-align: center">Age</th>
          <th style="text-align: center">Mobile</th>
          <!-- <th style="padding-right: 2rem">School</th>
          <th style="padding-right: 2rem">Invited By</th>
          <th>First-timer?</th> -->
        </tr>
      </thead>

      <tbody id="table-body">
        <tr
          *ngFor="
            let r of registrants | async;
            let i = index;
            trackBy: identify
          "
          [ngClass]="{ 'first-timer-row': r.isFirstTimer }"
        >
          <td class="count">{{ i + 1 }}</td>
          <td style="padding-right: 2rem">
            {{ r.lastName }}, {{ r.firstName }}
          </td>
          <td style="text-align: center">
            {{ r.birthdate | age }}
          </td>
          <td
            [id]="'reg-' + i"
            style="display: flex; gap: 1rem; justify-content: center"
          >
            <a [href]="'tel:' + r.mobile">
              {{ r.mobile.toString() | slice : 0 : 4 }}
              {{ r.mobile.toString() | slice : 4 : 7 }}
              {{ r.mobile.toString() | slice : 7 : 11 }}
            </a>
            <button
              nbButton
              outline
              status="primary"
              size="tiny"
              (click)="copyToClipboard(r.mobile, 'reg-' + i)"
            >
              Copy
            </button>
          </td>
          <!-- <td style="text-transform: capitalize; padding-right: 2rem">
            {{ r.school || "" }}
          </td>
          <td style="text-transform: capitalize; padding-right: 2rem">
            {{ r.invitedBy || "" }}
          </td>
          <td [ngClass]="{ 'first-timer': r.isFirstTimer }">
            {{ r.isFirstTimer ? "Yes" : "No" }}
          </td> -->
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
