<nb-card style="margin-top: 3rem;">
  <nb-card-header>
    <h4>Generate Raffle Entries</h4>
  </nb-card-header>
  <nb-card-body>

    <div style="margin-bottom: 3rem;">
      <small>INCLUDE:</small>
      <div style="display: flex; align-items: center; column-gap: 1rem; margin-bottom: 1rem;">
        <nb-checkbox status="primary" (checkedChange)="toggleTicketNo($event)" [checked]="true">Ticket No.</nb-checkbox>
        <nb-checkbox status="primary" (checkedChange)="toggleName($event)">Name</nb-checkbox>

        <div class="controls" style="margin-left: 2rem">
          <div class="form-control" style="display: flex; align-items: center; column-gap: 1rem;">
            <label for="eventDate" class="label">Event Date</label>
            <input
              nbInput
              [(ngModel)]="eventDate"
              fieldSize="small"
              placeholder="Pick Date"
              [nbDatepicker]="eventDatePicker"
              id="eventDate"
            />
            <nb-datepicker
              #eventDatePicker
            ></nb-datepicker>
          </div>
          <!-- <button nbButton (click)="printDiv()" outline status="primary">Print</button> -->
        </div>
      </div>
      <button
        nbButton
        status="primary"
        size="medium"
        (click)="generateRaffleEntries()"
        [disabled]="!userTicketNo && !userName"
      >
        Generate
      </button>
    </div>

    <!-- <textarea nbInput fullWidth placeholder="Textarea" [(ngModel)]="text" readonly></textarea> -->

    <p>Copy entries below to <a href="https://wheelofnames.com/" target="_blank">wheelofnames.com</a>.</p>
    <div class="raffle-entries">
      <button
        *ngIf="text"
        nbButton
        outline
        status="primary"
        size="small"
        (click)="copyToClipboard(text)"
      >
        Copy
      </button>

      <pre>{{text}}</pre>
    </div>
  </nb-card-body>
</nb-card>
